// Button Color
$black: #7e7e7e !default;
$pink: #e27b72 !default;
$green: #1db6b8 !default;
$orange: #e8950a !default;
$red: #e63d00 !default;
$dark: #505050 !default;

@mixin text($color) {
  background-color: $color;
  border: 1px solid darken($color, 10%);
}

@mixin icon($color) {
  border-right-width: 1px;
  border-right-color: darken($color, 10%);
  background-color: lighten($color, 4%);
}

.buttonsWrapper {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.buttonWrapper {
  height: 32px;
  margin-bottom: 12px;
  margin-right: 20px;
}

.button {
  padding: 0px 18px 0px 0px;
  width: 136px;
  height: 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  flex: 1;
}

.innerWrapper {
  flex: 1;
  flex-direction: row;
}

.buttonText {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  padding-left: 10px;
  height: 32px;
}

.icon {
  height: 30px;
  width: 32px;
  padding: 7px 8px;
  margin-right: 5px;
}

.iconText {
  font-size: 16px;
  color: #fff;
}

$colors-map: (
  Green $green,
  Pink $pink,
  Orange $orange,
  Dark $dark,
  Red $red,
  Black $black
);

@each $color in $colors-map {
  .button#{nth($color, 1)} {
    @extend .button;
    @include text(nth($color, 2));
  }
  .icon#{nth($color, 1)} {
    @extend .icon;
    @include icon(nth($color, 2));
  }
}
